/*Reglas Generales*/
    *{
        box-sizing: border-box;
        font-family: 'Raleway','calibri','segoe ui', sans-serif;
    }
    body,
    h1,
    h2,
    h3,
    header p,
    .menu{
        margin: 0;
    }
/*Navegacion*/
    nav{
        position: sticky;
        top:0;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
		background: rgb(136,34,68);
		background: -moz-linear-gradient(214deg, rgba(136,34,68,0.5949922170698272) 7%, rgba(34,34,68,1) 90%);
		background: -webkit-linear-gradient(214deg, rgba(136,34,68,0.5949922170698272) 7%, rgba(34,34,68,1) 90%);
		background: linear-gradient(214deg, rgba(136,34,68,0.5949922170698272) 7%, rgba(34,34,68,1) 90%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#882244",endColorstr="#222244",GradientType=1);
    }
    nav a{
        display: block;
        padding: .25rem;
        color:#eee;
        text-decoration: none;
    }
    .logo{
        font: bold 1.2rem sans-serif;
        text-transform: uppercase;
    }
    .btn{
        cursor: pointer;
        margin: .5rem;
        border: .1rem solid #eee;
        color:#eee;
        background-color: transparent;
        font-size: 1.2rem;
    }
    .btn:hover{
        color:#224;
        background-color: #eee;
    }
    .menu{
        width: 100%;
        max-height: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }
    .menu.active{
        max-height: 600px;
    }
    .menu a:hover{
        background-color: #aac8;
    }
/*Cabecera*/
    header{
        height: min(100vh, 640px);
        display: grid;
        justify-content: center;
        align-content: center;
        color:#eee;
        text-shadow: 0 0 2vw #eee;
        text-align: center;
        font-size: calc(2vw + 1rem);
        background-color: #333;
        background-image: url('https://th.bing.com/th/id/OIP.LjUjh0-ZykuYCJyJb66f3gHaD4?pid=ImgDet&rs=1');
    }
/*Contenido Principal*/
    section{
        margin: 1rem;
        border-radius: .25rem;
        padding: 1rem;
        box-shadow: 0 0 .5rem #333;
    }
/*Ejemplos de comandos*/
    .commands{
        position: relative;
        margin: 1rem;
        margin-left: 2rem;
        padding: 1rem 2rem;
        background-color: #eee;
        line-height: 1.5rem;
        list-style: none;
    }
    .commands::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: .25rem;
        background: linear-gradient(#c36, #448);
    }
/*Mapa de Contacto*/
    footer{
        position: relative;
        padding: 5rem 1rem 1rem;
        background-color: #2245;
    }
    .map iframe{
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        border:none;
        z-index: -1;
    }
    .map button{
        position: absolute;
        top: .5rem;
        right: .5rem;
        min-width: 2rem;
        font-size: 2rem;
        color:#eee;
        background-color: #333;
        line-height: 1.5rem;
    }
    .icon-max::before{ content: '+' }
    .icon-min::before{ content:'-' }

    .map iframe.active,
    .map button.icon-min{
        position: fixed;
        z-index: 2;
        opacity: .9;
    }
/*Redes sociales*/
    .social{
        display: flex;
        justify-content: center;
		display: flex;
        padding: .5rem;
    }
    .social a{
        position: relative;
        margin: .25rem;
        border-radius: .25rem;
        padding: .25rem;
        color:#eee;
        text-decoration: none;
        background-color: #333;
    }
    .social a:hover{
        bottom: .25rem;
        background-color: #666;
        box-shadow: 0 0 .5rem #333;
    }
/*Colaboradores*/
    .colabs caption{
        border-radius: .25rem .25rem 0 0;
        background-color: #824;
    }
    .colabs{
        margin: 1rem auto 3rem;
        border-collapse: collapse;
        color: #eee;
        text-shadow: 0 0 .1rem #333;
        background: linear-gradient(#824, #224)
    }
    .colabs caption,
    .colabs th,
    .colabs td{
        padding: .25rem;
    }
    .colabs tbody tr:nth-child(odd){background-color: #3338; }
    .colabs tbody tr:nth-child(even){ background-color: #6668; }
/*Formulario de contacto/newsletter */

.form{
    display: flex;
    justify-content: center;
    padding: .5rem;
    color: #eee;
    background-color: #333;
}
/*.form a{
    position: relative;
    margin: .25rem;
    border-radius: .25rem;
    padding: .25rem;
    color:#eee;
    text-decoration: none;
    background-color: #333;
}
.social a:hover{
    bottom: .25rem;
    background-color: #666;
    box-shadow: 0 0 .5rem #333;
}*/
/*Pantallas Pequeñas*/
    @media screen and (min-width:576px){
        section{
            max-width: 540px;
            margin: 1rem auto;
        }
    }
/*Pantallas Medianas*/
@media screen and (min-width:768px){
    section{
        max-width: 720px;
    }
}
/*Pantallas Grandes*/
    @media screen and (min-width:992px){
        nav .btn{ 
            display: none;
        }
        nav .menu{
            display: flex;
            width: auto;
            max-height: 600px;
        }
        section{
            max-width: 960px;
        }
    }

/*Pantallas Extra Grandes*/
    @media screen and (min-width: 1200px){
        nav{
            justify-content: space-around;
        }
    }